<div>
  <div class="section">
    <div class="container">
      <!-- Placeholder text -->
      <h1>Placeholder text</h1>
    </div>
    <div class="container">
      <!-- Placeholder contact info -->
      <h1>Placeholder contact info</h1>
    </div>
    <div class="container">
      <!-- Placeholder location info -->
      <h1>Placeholder location info</h1>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <!-- Leaderboard Section -->
      <h1>Leaderboard Section</h1>
    </div>
  </div>
</div>