<div>
  <div class="section">
    <div class="container">
      <!-- Placeholder text -->
      <app-placeholder-text></app-placeholder-text>
    </div>
    <div class="container">
      <!-- Placeholder contact info -->
      <app-placeholder-contact-info></app-placeholder-contact-info>
    </div>
    <div class="container">
      <!-- Placeholder location info -->
      <app-placeholder-location-info></app-placeholder-location-info>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <!-- Leaderboard Section -->
      <app-leaderboard></app-leaderboard>
    </div>
  </div>
</div>