.table {
    width: 100%;
}

.mat-sort {
    background-color: #E1E1E1;
}

.mat-row .mat-cell {
    background-color: white;
}


.mat-column-Position {
    font-style: bold;
    font-size: 20px;
    color: black;
}

.mat-column-Name {
    color: black;

}

.mat-column-GamesPlayed {
    color: black;

}

.mat-column-TotalScore {
    color: black;

}

@media (max-width: 512px) {
    .mat-column-Name, .mat-column-GamesPlayed, .mat-column-TotalScore {
        text-align: center;
    }
}